@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-input {
    @apply border rounded border-zinc-300 h-9 sm:h-10 p-2 focus:outline-none focus:border-zinc-500;
  }

  .primary-label {
    @apply font-helvetica-neue text-base font-bold pb-1;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
